.App {
  text-align: center;
}

.title{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content:center;
  background-color: black;
}

.score{
  color: white;
}

.standing{
  font-size: 28px;
  list-style: none;
}
.ball{
  width: 10%;
  height: 10%;
  float: right;
  position: relative;
  right: 5%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
